<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


     {% for x in range(0, value1): %}
        <div class="row">

     {% for i in range(0, value2): %}
     {%if x%2 == 0: %}
            {% if i%2 ==0: %}
                <div class="col" style="background-color:{{color1}} ;" >2</div>
            {% else: %}
                <div class="col2" style="background-color:{{color2}} ;">1</div>
            {% endif %}
     {%else : %}
            {% if i%2 ==1: %}
                <div class="col" style="background-color:{{color1}} ;">2</div>
            {% else: %}
                <div class="col2" style="background-color:{{color2}} ;">1</div>
            {% endif %}
    {% endif %}
    {% endfor %}
</div>
    {% endfor %}

</body>
</html>