<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style1.css' %}">   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="navbar">
        <div class="nav1">
            <h2>Arbortary</h2>
        </div>
        <div class="nav2">
            <a href="/mytree">MyTress</a>
          
        </div>
        <div class="nav3">
            <h2> Welcome {{request.session.user_name}}</h2>
        </div>
    </div>
    <div class="navbar2">
        <div class="nav1">
            <p>A site to track randomly planted trees</p>
        </div>
        <div class="nav2">
            <button><a  class="a1" href="/allplant">Dashboard</a></button>
            <button><a class="a1" href="/logout">LogOut</a></button>
            
        </div>
       
    </div>
    <div class="two">
    <div class="detail">
    <h1>Weeping Willow planted by {{plant.planted_by.first_name}}</h1>
    <h2>Where : {{plant.location}}</h2>
    <h2>When : {{plant.date_planed}}</h2>
    <br>
    <h2>Reason : {{plant.reason}}</h2>
    </div>
    <div class="vist">
        <h2>Visted By</h2>
        <div class="bord">
            {% for i in likebook %}
            {% if user in likebook %}
            <p>{{i.first_name}}</p>
            {% endif %}
            {% endfor %}
       
       
    </div>
    <a href="/addvisit/{{plant.id}}">did you  visit this tree ?</a>
    </div>
</div>
</body>
</html>