.container {
    display: flex;
    justify-content: space-around;

}
h1 {
    color: red;
}
input {
    border: 2px solid black;
    border-radius: 7px;
}

form {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}
p{
    color: black;
    
}
.vertical {
    
        border-left: 6px solid rgb(16, 133, 127);
        height: 100%;
        position:absolute;
        left: 50%;
    
}
.navbar {
    display: flex ;
}
