<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo And Ninjas</title>
    {% load static %}	
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="form1">
            <h1>Add a Dojo</h1>
            <form action="/dojo" method="post">
                {% csrf_token %}
                
                    <div class="col-auto">
                    <label for="name">Name</label>
                    </div>
                    <div class="col-auto">
                    <input type="text" name="name" class="form-control">
                    </div>
                    <label for="city">City</label>
                    <input type="text" name="city" class="form-control">
                    
                    <label for="state">State</label>
                    <input type="text" name="state" class="form-control">
                    
                    <input type="submit" value="Add" class="form-control">
              
            </form>
        </div>
        <div class="form2">
            <h1>Add a Ninja</h1>
            <form action="/ninja" method="post">
                {% csrf_token %}
                <label for="fname">First Name</label>
                <input type="text" name="fname" class="form-control">
             
                <label for="lname">Last Name</label>
                <input type="text" name="lname" class="form-control">
              
                <label for="lname">Dojo</label>
                <select name="dojo_id" id="dojo" class="form-control">
                    <option value="fake">-select a dojo-</option>
                    {% for i in all_the_dojo %}
                    <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                </select>
                
                <input type="submit" value="Add" class="form-control">
            </form>
        </div>
    </div>
    <hr>
    <div class="cont2">
    <h1>All the Dojos</h1>
        {% for i in all_the_dojo %}
         <form action="/delete" method="post">
            {% csrf_token %}
       
            <h3>Ninjas at the {{i.name}} dojo </h3>
            <ul>
                <input type="hidden" name="hide" value="{{i.id}}">
                {% for j in i.ninjas.all %}

                    <li>{{j.first_name}}-{{j.last_name}}</li>
                        
                     
                      
                {% endfor %}
              
            </ul>
            <input type="submit" value="Delete Dojo" class="form-control" name="delete">
            </form>
        {% endfor %}
</div>
</body>
</html>