<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    {% load static %}	
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Welcome to the great Number game!</h1>
    <p>I am thinking of a number between 1 and 100</p>
    <p>Take a guess!</p>
    
        <form action='result/' method="post" >
            {% csrf_token %}
            {% if request.session.result == "LOW!" %}
            <div class="bx1">
                <h3>TO LOW !</h3>
            </div>
            {%elif request.session.result == "High!" %}
            <div class="bx1">
                <h3>TO High !</h3>
            </div>
            {% elif request.session.result == "YouWin" %}
            <div class="bx2">
                <h3>{{request.session.rand2}} was the number!</h3>
                
                <a href="/rest"><button>Play Again</button></a>
            </div>
            {% else %}

        {% endif %}
        <br>
        <div class="form1">
            <input type="number" value="0" name="rand2" >
            <br>
            <button>Submit</button>
        </div>
        </form>
      
        <h2>{{request.session.rand}}</h2>
        <h2>{{request.session.count}}</h2>
</body>
</html>