<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DojoSurvey.css') }}">

</head>
<body>
    <div class="conatiner">
        <h1>Submitted Info</h1>
    <table>
        <tr>
            <td>Name</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>Dojo Location</td>
            <td>{{select1}}</td>
        </tr>
        <tr>
            <td>Favotite Language</td>
            <td>{{ select2  }}</td>
        </tr>
        <tr>
            <td>Comment</td>
            <td>{{ textarea}}</td>
           <td><button>Go Back</button></td> 
        </tr>
        <tr>
            <td>Your Language is</td>
            <td>{{fav}}</td>
        </tr>
        <tr>
            <td>Your Favorite Car is</td>
            <td>{{Car}}</td>
        </tr>
        
    </table>
    </div>

    <!-- <p>Name is :  {{session['name']}}</p>
    <p>Email is {{session['select1']}}</p>
    <p>yyyy is {{ session["select2"]}}</p>
    <textarea>{{ session["textarea"]}}</textarea> -->

</body>
</html>